/* .latest-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
} */

.dropdown-chart {
    display: flex;
    /* spcae bwtween */
    /* justify-content: space-around; */
    margin: 1rem;
}

.machine-dropdown {
    padding: 0 1rem;
}

.sensor-dropdown {
    padding: 0 1rem;
}

.chart {
    margin-top: 1.5rem;
}
