.nav-top {
    flex: 1;
}
.nav-bottom {
    border-top: calc(0.0625rem) solid #dee2e6;
}
.contentWrapper {
    padding: 0.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.usermenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
