.latest-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.machine-dropdown {
    max-width: 250px;
}

.dropdown-chart {
    display: flex;
    margin: 1rem;
}

.dropdown {
    padding: 0 1rem;
}

.sensor-dropdown {
    padding: 0 1rem;
}

.chart {
    margin-top: 1.5rem;
}
