.latest-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.dropdown-chart {
    display: flex;
    margin: 1rem;
}

.dropdown {
    padding: 0 1rem;
}

.machine-dropdown {
    padding-right: 1rem;
    /* max-width: 250px; */
}

.sensor-dropdown {
    padding-right: 1rem;
}

.chart {
    margin-top: 1.5rem;
}

.menu-button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #f0f0f0;
}

.menu-button:hover {
    background-color: #ffffff;
}

.menu-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.8rem;
    width: 6.8rem;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.menu-button img {
    width: 2.5rem;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.menu-button .menu-text {
    position: absolute;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-button:hover img {
    opacity: 1;
}

.menu-button:hover .menu-text {
    opacity: 0;
    visibility: hidden;
}

.line-status {
    min-width: 200px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
    width: max-content;
}
