.container {
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.title {
    margin-bottom: 20px;
    color: #333;
}
.group {
    margin-bottom: 15px;
    text-align: left;
}
.label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
}
button.btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}
.p {
    font-size: small;
}
