body {
    background: linear-gradient(to right, #b5dcfe, #d7deea);
}

.website-name {
    background-color: #228be8;
    padding: 0 10px;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
    margin-top: 0.25rem;
    font-size: 1.6em;
    color: #333;
}

.group {
    margin-bottom: 15px;
    text-align: left;
}

.label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
}

button.btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button.btn:hover {
    background: #0069d9;
}

.p {
    font-size: small;
}

.role-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.role-btn {
    width: 100%;
    padding: 10px;
    background: #e2f0ff;
    border: #79b7fa solid 1px;
    color: #007bff;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.role-btn:hover {
    background: #c8dff7;
}

.error {
    color: red;
    margin-top: 10px;
}
