.main {
    background-color: rgb(249, 250, 251);
}

.logo {
    background: #228be8;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 0.5rem;
}

a {
    text-decoration: none;
    color: #000;
}
